# Eniac

## Importing Data

Turning them into a dictionary of dataframes.

In [1]:
import pandas as pd

# URLs for raw content of the CSV files on GitHub
orders_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/orders.csv"
orderlines_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/orderlines.csv"
products_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/products.csv"
brands_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/brands.csv"


# Loading dataframes directly from GitHub
orders = pd.read_csv(orders_url)
orderlines = pd.read_csv(orderlines_url)
products = pd.read_csv(products_url)
brands = pd.read_csv(brands_url)

- DataFrame **.describe()** gives basic numerical aggregations. It can be applied to a single column as well.
- DataFrame **.isna().any()** highlights which columns contain missing data
- DataFrame **.shape** gives the number of rows and columns
- DataFrame **.columns** gives the column names. Note that a list with new names can be passed to this attribute to rename the columns.
- DataFrame **.columnName.isna().sum()** is a quick way to check the number of missing values in a column
- DataFrame **.columnName.value_counts()** is a great way to summarise a categorical column. You can use it to discover how many orders are completed, cancelled, pendingâ€¦
- DataFrame **.columnName.hist()** is an easy way to plot a histogram in a numerical column. Play with the bins argument to change the granularity of the graph.

In [2]:
orders.describe()

            order_id     total_paid
count  226909.000000  226904.000000
mean   413296.482480     569.225818
std     65919.250331    1761.778002
min    241319.000000       0.000000
25%    356263.000000      34.190000
50%    413040.000000     112.990000
75%    470553.000000     525.980000
max    527401.000000  214747.530000

In [3]:
products.describe()

           in_stock
count  19326.000000
mean       0.109593
std        0.312390
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [4]:
orderlines.describe()

                 id       id_order  product_id  product_quantity
count  2.939830e+05  293983.000000    293983.0     293983.000000
mean   1.397918e+06  419999.116544         0.0          1.121126
std    1.530096e+05   66344.486479         0.0          3.396569
min    1.119109e+06  241319.000000         0.0          1.000000
25%    1.262542e+06  362258.500000         0.0          1.000000
50%    1.406940e+06  425956.000000         0.0          1.000000
75%    1.531322e+06  478657.000000         0.0          1.000000
max    1.650203e+06  527401.000000         0.0        999.000000

In [5]:
brands.describe()

       short    long
count    187     187
unique   187     181
top      8MO  Mophie
freq       1       2

In [6]:
orders.isna().sum()

order_id        0
created_date    0
total_paid      5
state           0
dtype: int64

In [7]:
orderlines.isna().sum()

id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64

In [8]:
brands.isna().sum()

short    0
long     0
dtype: int64

In [9]:
products.isna().sum()

sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

```products['price'] = products['price'].str.replace('.', '', regex=False).astype(float)```

In [10]:
orders.dtypes

order_id          int64
created_date     object
total_paid      float64
state            object
dtype: object

In [11]:
orders['order_id'] = orders['order_id'].astype(str)

In [12]:
orders['created_date']  = pd.to_datetime(orders['created_date'])

created_date change into date, change order_id into object

In [13]:
orderlines.dtypes

id                   int64
id_order             int64
product_id           int64
product_quantity     int64
sku                 object
unit_price          object
date                object
dtype: object

In [14]:
orderlines['date']  = pd.to_datetime(orderlines['date'])

In [15]:
orderlines['unit_price'] = orderlines['unit_price'].str.replace('.', '', regex=False).astype(float)

In [16]:
orderlines['id']= orderlines['id'].astype(str)

In [17]:
orderlines['id_order']= orderlines['id_order'].astype(str)

In [18]:
orderlines = orderlines.drop('product_id', axis=1, inplace=True)

change id, order_id, into objects. drop product_id sinc eno longer in use, change unit_price to float and date to date

In [19]:
products.dtypes

sku            object
name           object
desc           object
price          object
promo_price    object
in_stock        int64
type           object
dtype: object

change price to float, promo_price to float, in_stock to boolean

In [20]:
products['price'] = products['price'].str.replace('.', '', regex=False).astype(float)

In [21]:
products['promo_price'] = products['promo_price'].str.replace('.', '', regex=False).astype(float)

In [22]:
products['in_stock'] = products['in_stock'].astype(bool)

In [24]:
brands.dtypes

short    object
long     object
dtype: object