# Eniac

## Importing Data

Turning them into a dictionary of dataframes.

In [29]:
import pandas as pd

# URLs for raw content of the CSV files on GitHub
orders_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/orders.csv"
orderlines_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/orderlines.csv"
products_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/products.csv"
brands_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/brands.csv"


# Loading dataframes directly from GitHub
orders = pd.read_csv(orders_url)
orderlines = pd.read_csv(orderlines_url)
products = pd.read_csv(products_url)
brands = pd.read_csv(brands_url)

- DataFrame **.describe()** gives basic numerical aggregations. It can be applied to a single column as well.
- DataFrame **.isna().any()** highlights which columns contain missing data
- DataFrame **.shape** gives the number of rows and columns
- DataFrame **.columns** gives the column names. Note that a list with new names can be passed to this attribute to rename the columns.
- DataFrame **.columnName.isna().sum()** is a quick way to check the number of missing values in a column
- DataFrame **.columnName.value_counts()** is a great way to summarise a categorical column. You can use it to discover how many orders are completed, cancelled, pendingâ€¦
- DataFrame **.columnName.hist()** is an easy way to plot a histogram in a numerical column. Play with the bins argument to change the granularity of the graph.

In [35]:
result = products[products['price'].str.count('\.') == 2]
result.tail(50)

,sku,name,desc,price,promo_price,in_stock,type
17076,SPE0195,Speck CandyShell Case Fit Apple Watch 38mm Bla...,rigid housing with compact design and double l...,1.999.041,199.904,0,2434
17310,SYN0174,Synology DS1817 NAS server Mac and PC,NAS with 4GB of RAM and 8 bays compatible with...,9.789.904,9.789.904,0,12175397
17359,LOG0193-A,Open - Logitech QWERTY keyboard cover Spanish ...,Cover with backlit keyboard and smart plug for...,1.499.904,1.299.901,0,1298
17365,APP2133-A,"Like new - Apple iPad Pro 12.9 ""Wi-Fi + Cellul...",iPad Pro 12.9 inch Wi-Fi refurbished 512GB Silver,14.490.004,12.748.614,0,1298
17392,OWC0190-A,Open - Mac OWC Memory 16GB 1333MHZ DDR3 DIMM,16GB RAM for Mac Pro 2010/2012 Reconditioned,1.199.897,967.572,0,1364
17485,APP2493,Apple TV 32GB 4K,Apple multimedia player with 4K resolution and...,1.990.002,194,1,113464259
17486,APP2494,Apple TV 4K 64GB,Apple multimedia player with 4K resolution and...,21.900.032,2.190.003,1,113464259
17487,APP2490,Apple iPhone 64GB X Silver,New Apple iPhone 64GB Free Silver X,115.900.092,11.590.009,1,113271716
17489,APP2491,Apple iPhone X 256GB Space Gray,New Apple iPhone X 256GB Free Space Gray,13.290.011,13.290.011,1,113271716
17490,APP2492,Apple iPhone X 256GB Silver,New Apple iPhone X 256GB Silver Free,13.290.011,13.290.011,1,113271716
17673,APP1727-A,Open - Series 2 42mm Apple Watch Stainless Ste...,Apple Watch 42mm refitted with GPS dual-core p...,8.690.002,839.99,0,24895185
18277,FIT0052,Charge 2 fitbit Bracelet Violet Activity size S,Multisport activity bracelet Fitbit Charge 2 s...,1.599.862,1.599.862,0,11905404
18284,JBL0147,Headband Headphones JBL children JR300 Blue,Children's Headphones for iPhone iPad and iPod,2.499.013,249.901,1,5384
18526,WDT0400,WD My Cloud Home 3TB USB 3.0,1-bay NAS server for Mac and PC,2.049.946,2.049.946,0,11935397
18726,TAD0002-A,Open - Tado V2 Intelligent Heating Thermostat,Smart Thermostat refurbished and bridge with a...,1.799.899,1.512.253,0,11905404
18833,TRA0044-A,Open - Transcend JetDrive PCIe SSD 820 M13-M15...,Kit 960GB SSD expansion refitted for Macbook P...,7.109.004,5.977.884,0,12215397
18838,CAL0010,Station 3 Caldigit Thunderbolt Thunderbolt out...,Thunderbolt external box 3 to magnify your tea...,2.999.905,2.999.905,1,NaN
18874,APP2155-A,Open - Smart Keyboard Apple Keyboard Folio iPa...,Cover with keyboard shortcuts and Spanish (dir...,1.790.001,1.733.485,0,12635403
18964,NET0013,Arlo Netgear Pro 2 Additional Security Camera,Additional camera for Arlo Pack Pro 2 vision 1...,2.799.904,2.799.904,0,9094
18965,NET0015,Netgear HD 1080p camera Arlo Baby,Interior surveillance camera with full HD reso...,2.999.905,2.999.905,0,9094
18985,NET0026,Arlo Netgear accessory rechargeable battery ch...,Netgear charging station for rechargeable batt...,6.999.003,69.99,0,9094
19173,RIN0007,Camera Intercom Video Doorbell Ring 2,Timbre video surveillance camera angle 160 deg...,21.900.032,2.190.003,0,9094
19174,RIN0008,Pro Video Camera Intercom Doorbell Ring,Surveillance camera with microphone and an ang...,2.790.006,2.790.006,0,9094
19181,UBI0007,Ubiquiti Amplifi Wi-Fi Mesh Router + 2 Mesh Ac...,Wi-Fi high-density intelligent Mesh technology,35.998.952,3.599.895,0,1334
19183,UBI0008,Ubiquiti Amplifi Wi-Fi Mesh Router,Smart Wi-Fi Router high density Mesh technology,1.299.891,1.299.891,0,1334
19184,UBI0009,Ubiquiti Amplifi Mesh Access Point,Point Smart Wi-Fi high-density access with mes...,1.499.892,1.499.892,0,1334
19238,WAC0248,Wacom support for MobileStudio Pro,Wacom support MobileStudio Pro 13 inches and 1...,9.990.002,99.9,0,101781405
19248,DJI0026,DJI Mavic Air Drone cuadricÃ³ptero Arctic White,Drone cuadricÃ³ptero laptop with integrated cam...,84.900.013,8.490.001,0,11905404
19249,DJI0025,DJI Mavic Air Drone Black Onyx cuadricÃ³ptero,Drone cuadricÃ³ptero laptop with integrated cam...,84.900.013,8.490.001,0,11905404
19250,LIN0013,Linksys Wi-Fi Velop system AC2200 1 unit,Wi-Fi high-density intelligent Mesh technology,19.999.001,199.99,0,1334
19251,LIN0014,Linksys Wi-Fi Velop system AC4400 2 units,Wi-Fi high-density intelligent Mesh technology,2.999.905,2.999.905,1,1334
19252,LIN0015,Linksys Wi-Fi Velop System AC6600 3 units,Wi-Fi high-density intelligent Mesh technology,42.999.044,4.299.904,0,1334
19286,REP0409,iPhone 6s rear camera repair,It is including parts and labor for iPhone 6s,6.999.003,69.99,0,"1,44E+11"
19287,REP0410,repair rear camera plus iPhone 6s,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19292,REP0414,iPhone front camera repair 7,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19294,REP0419,iPhone charging connector repair 7,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19296,REP0422,Headphone Input repair iPhone 7,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19297,REP0425,iPhone repair microphone 7,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19301,REP0415,Front Camera Repair iPhone 7 Plus,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19302,REP0420,Repair iPhone charging connector 7 Plus,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19304,REP0423,iPhone Earphones jack repair 7 plus,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19305,REP0426,iPhone repair microphone 7 Plus,Repair service including parts and labor for i...,6.999.003,69.99,0,"1,44E+11"
19308,REP0406,battery repair iPad Air,Battery Repair Service includes parts and labo...,6.999.003,69.99,0,"1,44E+11"
19310,REP0430,iPad Speaker lower repair,Repair service including parts and labor for iPad,6.999.003,69.99,0,"1,44E+11"
19311,REP0427,Wi-Fi antenna repair Apple iPad,Repair service including parts and labor for iPad,6.999.003,69.99,0,"1,44E+11"
19312,REP0424,Input repair Headphones iPad,Repair service including parts and labor for iPad,6.999.003,69.99,0,"1,44E+11"
19313,REP0421,iPad charging connector repair,Repair service including parts and labor for iPad,6.999.003,69.99,0,"1,44E+11"
19314,REP0416,iPad front camera repair,Repair service including parts and labor for iPad,6.999.003,69.99,0,"1,44E+11"
19315,REP0413,repair rear camera iPad,Repair service including parts and labor for iPad,6.999.003,69.99,0,"1,44E+11"
19316,REP0407,iPad battery repair,Repair service including parts and labor for iPad,6.999.003,69.99,0,"1,44E+11"

```products['price'] = products['price'].str.replace('.', '', regex=False).astype(float)```

In [13]:
orderlines.dtypes

id                   int64
id_order             int64
product_id           int64
product_quantity     int64
sku                 object
unit_price          object
date                object
dtype: object

In [14]:
orderlines['date']  = pd.to_datetime(orderlines['date'])

In [15]:
orderlines['unit_price'] = orderlines['unit_price'].str.replace('.', '', regex=False).astype(float)

In [16]:
orderlines['id']= orderlines['id'].astype(str)

In [17]:
orderlines['id_order']= orderlines['id_order'].astype(str)

In [18]:
orderlines.drop('product_id', axis=1, inplace=True)

In [19]:
orderlines

,id,id_order,product_quantity,sku,unit_price,date
0,1119109,299539,1,OTT0133,1899.0,2017-01-01 00:07:19
1,1119110,299540,1,LGE0043,39900.0,2017-01-01 00:19:45
2,1119111,299541,1,PAR0071,47405.0,2017-01-01 00:20:57
3,1119112,299542,1,WDT0315,6839.0,2017-01-01 00:51:40
4,1119113,299543,1,JBL0104,2374.0,2017-01-01 01:06:38
...,...,...,...,...,...,...
293978,1650199,527398,1,JBL0122,4299.0,2018-03-14 13:57:25
293979,1650200,527399,1,PAC0653,14158.0,2018-03-14 13:57:34
293980,1650201,527400,2,APP0698,999.0,2018-03-14 13:57:41
293981,1650202,527388,1,BEZ0204,1999.0,2018-03-14 13:58:01
293982,1650203,527401,1,APP0927,1399.0,2018-03-14 13:58:36

change id, order_id, into objects. drop product_id sinc eno longer in use, change unit_price to float and date to date

In [20]:
products.dtypes

sku            object
name           object
desc           object
price          object
promo_price    object
in_stock        int64
type           object
dtype: object

change price to float, promo_price to float, in_stock to boolean

In [21]:
products['price'] = products['price'].str.replace('.', '', regex=False).astype(float)

In [22]:
products['promo_price'] = products['promo_price'].str.replace('.', '', regex=False).astype(float)

In [23]:
products['in_stock'] = products['in_stock'].astype(bool)

In [24]:
brands.dtypes

short    object
long     object
dtype: object

In [25]:
brands.head()

  short       long
0   8MO  8Mobility
1   ACM       Acme
2   ADN     Adonit
3   AII      Aiino
4   AKI     Akitio

In [26]:
products.head()

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,5999.0,499899.0,True,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.0,589996.0,False,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.0,569898.0,False,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.0,229997.0,False,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,3499.0,3199.0,True,1364

In [27]:
products.tail()

,sku,name,desc,price,promo_price,in_stock,type
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,2999.0,269903.0,True,12282
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,6995.0,649903.0,True,1392
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,6995.0,649903.0,True,1392
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,6995.0,649903.0,False,1392
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,6995.0,649903.0,True,1392

In [28]:
orderlines

,id,id_order,product_quantity,sku,unit_price,date
0,1119109,299539,1,OTT0133,1899.0,2017-01-01 00:07:19
1,1119110,299540,1,LGE0043,39900.0,2017-01-01 00:19:45
2,1119111,299541,1,PAR0071,47405.0,2017-01-01 00:20:57
3,1119112,299542,1,WDT0315,6839.0,2017-01-01 00:51:40
4,1119113,299543,1,JBL0104,2374.0,2017-01-01 01:06:38
...,...,...,...,...,...,...
293978,1650199,527398,1,JBL0122,4299.0,2018-03-14 13:57:25
293979,1650200,527399,1,PAC0653,14158.0,2018-03-14 13:57:34
293980,1650201,527400,2,APP0698,999.0,2018-03-14 13:57:41
293981,1650202,527388,1,BEZ0204,1999.0,2018-03-14 13:58:01
293982,1650203,527401,1,APP0927,1399.0,2018-03-14 13:58:36