# Eniac

## Importing Data

Turning them into a dictionary of dataframes.

In [1]:
import pandas as pd

# URLs for raw content of the CSV files on GitHub
orders_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/Data_Cleaned/orders_clean.csv"
orderlines_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/Data_Cleaned/orderlines_clean.csv"
products_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/Data_Cleaned/products_clean.csv"
brands_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/Data_Cleaned/brands_clean.csv"


# Loading dataframes directly from GitHub
orders = pd.read_csv(orders_url)
orderlines = pd.read_csv(orderlines_url)
products = pd.read_csv(products_url)
brands = pd.read_csv(brands_url)

Keys of tables:

order_id : orders, orderlines

sku = products, orderlines, brands --> the first three letters of sku = short brand name

Questions:

What is id: and unit_price: in orderlines?

What is total_paid in orders? What is created_date in orders?

In [ ]:
# Rename column to match with orders (better readability)
orderlines.rename(columns={'id_order': 'order_id'}, inplace=True)
orderlines

In [ ]:
orderlines['short_brand'] = orderlines['sku'].str[:3]
orderlines

In [ ]:
# Merge Orderlines on brands, since both tables are small anyway
orderlines_brands = orderlines.merge(brands, left_on='short_brand' ,right_on='short', how='left')
orderlines_brands

- DataFrame **.describe()** gives basic numerical aggregations. It can be applied to a single column as well.
- DataFrame **.isna().any()** highlights which columns contain missing data
- DataFrame **.shape** gives the number of rows and columns
- DataFrame **.columns** gives the column names. Note that a list with new names can be passed to this attribute to rename the columns.
- DataFrame **.columnName.isna().sum()** is a quick way to check the number of missing values in a column
- DataFrame **.columnName.value_counts()** is a great way to summarise a categorical column. You can use it to discover how many orders are completed, cancelled, pending…
- DataFrame **.columnName.hist()** is an easy way to plot a histogram in a numerical column. Play with the bins argument to change the granularity of the graph.

In [8]:
# Try to calculate the promo_price/ promo percentage
# Let me see the uni_price of orderlines and the price of products
products_orderlines = products.merge(orderlines, on='sku', how='right')
products_orderlines[['sku', 'price', 'unit_price', 'promo_price']]

            sku   price  unit_price  promo_price
0       OTT0133   34.99       18.99        19.99
1       LGE0043  429.00      399.00       399.00
2       PAR0071  699.00      474.05       569.00
3       WDT0315   79.00       68.39        63.99
4       JBL0104   29.90       23.74        27.99
...         ...     ...         ...          ...
293978  JBL0122   49.95       42.99        42.99
293979  PAC0653  215.98      141.58       141.58
293980  APP0698   25.00        9.99         9.99
293981  BEZ0204   29.99       19.99        19.99
293982  APP0927   35.00       13.99        13.99

[293983 rows x 4 columns]

In [12]:
products_orderlines.groupby('sku').agg({'price':'mean', 'unit_price':'mean'}).round(2)

            price  unit_price
sku
8MO0001-A   35.00       12.96
8MO0003-A   35.00       12.85
8MO0007     35.00       21.37
8MO0008     35.00       21.72
8MO0009     35.00       17.84
...           ...         ...
ZAG0041     29.99       19.99
ZAG0042     29.99       19.99
ZEP0007    149.99      137.12
ZEP0008    149.99      104.12
par0072    349.00      224.16

[7951 rows x 2 columns]