# Orderlines

## Import

In [2]:
import pandas as pd
orderlines_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/orderlines.csv"
orderlines = pd.read_csv(orderlines_url)
orderlines

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38
...,...,...,...,...,...,...,...
293978,1650199,527398,0,1,JBL0122,42.99,2018-03-14 13:57:25
293979,1650200,527399,0,1,PAC0653,141.58,2018-03-14 13:57:34
293980,1650201,527400,0,2,APP0698,9.99,2018-03-14 13:57:41
293981,1650202,527388,0,1,BEZ0204,19.99,2018-03-14 13:58:01
293982,1650203,527401,0,1,APP0927,13.99,2018-03-14 13:58:36

## Drop Duplicates

In [4]:
orderlines.duplicated().sum()

0

## Missing Values

In [5]:
orderlines.isna().sum()

id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64

## Datatypes & Format

In [6]:
orderlines.dtypes

id                   int64
id_order             int64
product_id           int64
product_quantity     int64
sku                 object
unit_price          object
date                object
dtype: object

In [ ]:
orderlines['date']  = pd.to_datetime(orderlines['date'])
orderlines['id']= orderlines['id'].astype(str)
orderlines['id_order']= orderlines['id_order'].astype(str)
orderlines.drop('product_id', axis=1, inplace=True)

In [12]:
orderlines['unit_price']

0          18.99
1         399.00
2         474.05
3          68.39
4          23.74
           ...
293978     42.99
293979    141.58
293980      9.99
293981     19.99
293982     13.99
Name: unit_price, Length: 293983, dtype: object

In [ ]:
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

In [15]:
print(orderlines.unit_price.str.contains("\d+\.\d+\.\d+"))

0         False
1         False
2         False
3         False
4         False
          ...
293978    False
293979    False
293980    False
293981    False
293982    False
Name: unit_price, Length: 293983, dtype: bool

Check for prices with two dots.

In [25]:
orderlines[orderlines['unit_price'].str.contains("\d+\.\d+\.\d+", na=False)]

Empty DataFrame
Columns: [id, id_order, product_quantity, sku, unit_price, date]
Index: []

In [22]:
orderlines

,id,id_order,product_quantity,sku,unit_price,date
0,1119109,299539,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,1,JBL0104,23.74,2017-01-01 01:06:38
...,...,...,...,...,...,...
293978,1650199,527398,1,JBL0122,42.99,2018-03-14 13:57:25
293979,1650200,527399,1,PAC0653,141.58,2018-03-14 13:57:34
293980,1650201,527400,2,APP0698,9.99,2018-03-14 13:57:41
293981,1650202,527388,1,BEZ0204,19.99,2018-03-14 13:58:01
293982,1650203,527401,1,APP0927,13.99,2018-03-14 13:58:36

After checking the products table and seeing the prices, it is clear, that the format used here n.nnn.nn should be a price of nnnn,nn € or in us nnnn.nn $

If I use comma: df['price'] = df['price'].str.replace('\.', '', regex=False).str[:-2] + ',' + df['price'].str[-2:]

In [24]:
orderlines['unit_price'] = orderlines['unit_price'].str.replace('.', '', regex=False).str[:-2]+'.'+orderlines['unit_price'].str[-2:]

In [27]:
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

In [29]:
orderlines.dtypes

id                          object
id_order                    object
product_quantity             int64
sku                         object
unit_price                 float64
date                datetime64[ns]
dtype: object

## Dont know