# Eniac

## Importing Data

Turning them into a dictionary of dataframes.

In [2]:
import pandas as pd

# URLs for raw content of the CSV files on GitHub
orders_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/orders.csv"
orderlines_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/orderlines.csv"
products_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/products.csv"
brands_url = "https://raw.githubusercontent.com/MerleSt/Eniac/main/Data-Eniac/brands.csv"


# Loading dataframes directly from GitHub
orders = pd.read_csv(orders_url)
orderlines = pd.read_csv(orderlines_url)
products = pd.read_csv(products_url)
brands = pd.read_csv(brands_url)

- DataFrame **.describe()** gives basic numerical aggregations. It can be applied to a single column as well.
- DataFrame **.isna().any()** highlights which columns contain missing data
- DataFrame **.shape** gives the number of rows and columns
- DataFrame **.columns** gives the column names. Note that a list with new names can be passed to this attribute to rename the columns.
- DataFrame **.columnName.isna().sum()** is a quick way to check the number of missing values in a column
- DataFrame **.columnName.value_counts()** is a great way to summarise a categorical column. You can use it to discover how many orders are completed, cancelled, pending…
- DataFrame **.columnName.hist()** is an easy way to plot a histogram in a numerical column. Play with the bins argument to change the granularity of the graph.

In [3]:
orders.head(100)

    order_id         created_date  total_paid      state
0     241319  2017-01-02 13:35:40       44.99  Cancelled
1     241423  2017-11-06 13:10:02      136.15  Completed
2     242832  2017-12-31 17:40:03       15.76  Completed
3     243330  2017-02-16 10:59:38       84.98  Completed
4     243784  2017-11-24 13:35:19      157.86  Cancelled
..       ...                  ...         ...        ...
95    281497  2017-01-05 12:16:45      697.72  Completed
96    282180  2018-01-06 16:28:49       59.99  Completed
97    282487  2017-01-25 18:13:49      130.44  Completed
98    282624  2017-05-23 12:07:42     1598.00  Cancelled
99    282776  2017-08-09 11:02:48       42.99  Completed

[100 rows x 4 columns]